<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= t(".title") %>
      </h3>

      <%= render 'form', tenant: @tenant %>
    </div>
  </div>
</div>
