<div class="form-group row">
  <%= f.label field.name, field.label, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.file_field field.name, direct_upload: true, disabled: field.disabled?, class_for_error: "is-invalid" %>
    <%= f.error_message field.name, class: "invalid-feedback" %>
    <% if field.hint.present? %>
      <span class="form-text text-muted">
        <%= field.hint %>
      </span>
    <% end %>
  </div>
</div>
